/*
 * SPDX-FileCopyrightText: 2026 2026-Present ninetailedtori <ninetailedtori@uwu.gal>
 * SPDX-FileContributor: WhailMail contributors
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

:root {
  --size-icon-sm: 24px;
  --size-icon-md: 32px;
  --size-icon-lg: 48px;
  --size-icon-xl: 64px;
  --size-logo: 128px;
}
