/* SCSS Modules */
@use "tailwindcss";
@use "@nuxt/ui";

/* CSS Imports */
// @import "@catppuccin/tailwindcss/latte.css" layer(theme-latte);
@import "@catppuccin/tailwindcss/frappe.css" layer(theme-frappe);
@import "@catppuccin/tailwindcss/macchiato.css" layer(theme-macchiato);
@import "@catppuccin/tailwindcss/mocha.css" layer(theme-mocha);
@import "./base.css";
@import "./prime.css";

/* Tailwind Directives */
@import "tailwindcss";

/* Main Styling */
.heading {
  color: var(--color-ctp-rosewater);
  background-color: var(--color-ctp-base);
  font-family: "Afacad Flux", serif;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.dragger {
  app-region: drag;
  user-select: none;
}

.__no_drag {
  app-region: no-drag;
  padding: 0 !important;
  margin: 0 !important;
  user-select: none;
}

body {
  color: var(--color-ctp-text);
  background-color: var(--color-ctp-base);
  font-family: "Inria Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: url("./wavy-lines.svg");
  background-size: cover;
  user-select: none;
}

code {
  font-weight: 600;
  padding: 3px 5px;
  border-radius: 2px;
  color: var(--color-ctp-text);
  background-color: var(--color-ctp-surface0);
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 85%;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 80px;
}

.logo {
  margin-bottom: 20px;
  -webkit-user-drag: none;
  height: 128px;
  width: 128px;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 1.2em var(--color-ctp-rosewater));
}

.creator {
  font-size: 14px;
  line-height: 16px;
  color: var(--color-ctp-subtext0);
  font-weight: 600;
  margin-bottom: 10px;
}

.text {
  font-size: 28px;
  color: var(--color-ctp-text);
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  margin: 0 10px;
  padding: 16px 0;
}

.tip {
  font-size: 16px;
  line-height: 24px;
  color: var(--color-ctp-subtext0);
  font-weight: 600;
}

.vue {
  background: -webkit-linear-gradient(
    315deg,
    var(--color-ctp-rosewater) 25%,
    var(--color-ctp-mauve)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.ts {
  background: -webkit-linear-gradient(
    315deg,
    var(--color-ctp-rosewater) 45%,
    var(--color-ctp-mauve)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.actions {
  display: flex;
  padding-top: 32px;
  margin: -6px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.action {
  flex-shrink: 0;
  padding: 6px;
}

.action a {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  border: 2px solid transparent;
  text-align: center;
  font-weight: 600;
  white-space: nowrap;
  border-radius: 20px;
  padding: 0 20px;
  line-height: 38px;
  font-size: 14px;
  color: var(--color-ctp-text);
  background-color: var(--color-ctp-surface0);

  &:hover {
    color: var(--color-ctp-text);
    background-color: var(--color-ctp-surface1);
  }

  &:is(:active, :focus) {
    color: var(--color-ctp-base);
    background-color: var(--color-ctp-rosewater);
  }
}

.versions {
  position: absolute;
  bottom: 30px;
  margin: 0 auto;
  padding: 15px 0;
  font-family: "Menlo", "Lucida Console", monospace;
  display: inline-flex;
  overflow: hidden;
  align-items: center;
  border-radius: 22px;
  background-color: var(--color-ctp-mantle);
  backdrop-filter: blur(24px);

  li {
    display: block;
    float: left;
    border-right: 1px solid var(--color-ctp-overlay0);
    padding: 0 20px;
    font-size: 14px;
    line-height: 14px;
    opacity: 0.8;

    &:last-child {
      border: none;
    }
  }
}

@media (max-width: 720px) {
  .text {
    font-size: 20px;
  }
}

@media (max-width: 620px) {
  .versions {
    display: none;
  }
}

@media (max-width: 350px) {
  .tip,
  .actions {
    display: none;
  }
}
