/*
 * SPDX-FileCopyrightText: 2026–Present ninetailedtori <ninetailedtori@uwu.gal>
 * SPDX-FileContributor: WhailMail contributors
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

/* Framework imports */
@import "tailwindcss";
@import "@nuxt/ui";
@import "@catppuccin/tailwindcss/macchiato.css";

/* Design tokens */
@import "@assets/tokens/colours.css";
@import "@assets/tokens/spacing.css";
@import "@assets/tokens/radius.css";
@import "@assets/tokens/sizes.css";
@import "@assets/tokens/typography.css";

/* Component styles */
@import "@assets/components/heading.css";
@import "@assets/components/code.css";
@import "@assets/components/button.css";
@import "@assets/components/versions.css";

/* Global body */
body {
  color: var(--color-ctp-text);
  background-color: var(--color-ctp-base);
  font-family: var(--font-sans);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  user-select: none;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: var(--space-2xl);
}
