/*
 * SPDX-FileCopyrightText: 2026 2026-Present ninetailedtori <ninetailedtori@uwu.gal>
 * SPDX-FileContributor: WhailMail contributors
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

.heading {
  color: var(--color-accent);
  background-color: var(--color-bg);
  font-family: var(--font-serif);
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
